.root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-4);
}

.platform {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 18px;
  color: var(--text-on-inverse);
}
